In [ ]:
dict:
    it is collection of item
    item ---> key:value pair
    it is mutable type DS
    it is unordered

In [1]:
my_details = {'id':101,'name':'Arun','sal':50000}

In [2]:
my_details

{'id': 101, 'name': 'Arun', 'sal': 50000}

In [3]:
type(my_details)

dict

In [ ]:
key:
    always immutable,and unique
    
    
    
    
value: 
    can be mutable or immutable

In [6]:
d = {1:'Cricket',2:'Football',3:'base ball',1:'Computer Game'}

In [7]:
d

{1: 'Computer Game', 2: 'Football', 3: 'base ball'}

In [8]:
d = {}

In [9]:
type(d)

dict

In [ ]:
d = {1:'Cricket',2:'Football',3:'base ball'}

In [5]:
d

{1: 'Cricket', 2: 'Football', 3: 'base ball'}

In [ ]:
immutable DS:
    number
    string
    tuple
    frozenset
mutable :
    list
    set
    dict

In [11]:
my_dict = {(1,2,3):'python',34:'java'}

In [12]:
my_dict

{(1, 2, 3): 'python', 34: 'java'}

In [13]:
car_details = {
    'car_name':'bmw',
    'price':20,
    'color':'red'
}

In [14]:
car_details

{'car_name': 'bmw', 'price': 20, 'color': 'red'}

In [15]:
car_details['car_name']

'bmw'

In [16]:
car_details['price']

20

In [17]:
car_details['dskjbfjkbsd']

KeyError: 'dskjbfjkbsd'

In [18]:
car_details

{'car_name': 'bmw', 'price': 20, 'color': 'red'}

In [22]:
car_details.get('price','No key present')

20

In [ ]:
#get ---> if key present then return its associated value if not then return default value

In [24]:
car_details.get('pridgdgdgce',0)

0

In [25]:
my_details

{'id': 101, 'name': 'Arun', 'sal': 50000}

In [26]:
my_details.keys()

dict_keys(['id', 'name', 'sal'])

In [27]:
my_details.values()

dict_values([101, 'Arun', 50000])

In [28]:
my_details.items()

dict_items([('id', 101), ('name', 'Arun'), ('sal', 50000)])

In [29]:
#insertiton

In [30]:
my_details['city'] = 'pune'

In [31]:
my_details

{'id': 101, 'name': 'Arun', 'sal': 50000, 'city': 'pune'}

In [32]:
my_details[1]

KeyError: 1

In [33]:
my_details

{'id': 101, 'name': 'Arun', 'sal': 50000, 'city': 'pune'}

In [35]:
my_details['ince'] = 75000

In [36]:
my_details.update({'a':1,'b':2,'c':3})

In [37]:
my_details

{'id': 101,
 'name': 'Arun',
 'sal': 50000,
 'city': 'pune',
 'ince': 75000,
 'a': 1,
 'b': 2,
 'c': 3}

In [ ]:
len() ---- > function ---> call
[]  ---> element --access index/key

In [ ]:
single ---> [newkey] = value
multiple ---> update({key:value pair})

In [38]:
my_details.items()

dict_items([('id', 101), ('name', 'Arun'), ('sal', 50000), ('city', 'pune'), ('ince', 75000), ('a', 1), ('b', 2), ('c', 3)])

In [39]:
my_details.keys()

dict_keys(['id', 'name', 'sal', 'city', 'ince', 'a', 'b', 'c'])

In [40]:
my_details.values()

dict_values([101, 'Arun', 50000, 'pune', 75000, 1, 2, 3])

In [41]:
#how to update values from dict

In [42]:
my_details['name'] = 'Jon'

In [43]:
my_details

{'id': 101,
 'name': 'Jon',
 'sal': 50000,
 'city': 'pune',
 'ince': 75000,
 'a': 1,
 'b': 2,
 'c': 3}

In [65]:
import numpy as np
my_dict = {'id':[101,102,103],
          'name':['a','b',np.nan],
          'city':['pune','bang','chennai']}

In [66]:
my_dict

{'id': [101, 102, 103],
 'name': ['a', 'b', nan],
 'city': ['pune', 'bang', 'chennai']}

In [67]:
import pandas as pd

In [68]:
pd.DataFrame(my_dict)

    id name     city
0  101    a     pune
1  102    b     bang
2  103  NaN  chennai

In [64]:
k = ('id','prdname','prdprice')

In [50]:
dict.fromkeys(k,0)

{'id': 0, 'prdname': 0, 'prdprice': 0}

In [51]:
#when want blank dict without value then we can use fromkeys

In [69]:
my_dict

{'id': [101, 102, 103],
 'name': ['a', 'b', nan],
 'city': ['pune', 'bang', 'chennai']}

In [70]:
my_details

{'id': 101,
 'name': 'Jon',
 'sal': 50000,
 'city': 'pune',
 'ince': 75000,
 'a': 1,
 'b': 2,
 'c': 3}

In [71]:
my_details.update({'id':200,'name':'Justin'})

In [72]:
my_details

{'id': 200,
 'name': 'Justin',
 'sal': 50000,
 'city': 'pune',
 'ince': 75000,
 'a': 1,
 'b': 2,
 'c': 3}

In [74]:
#if key already present then return its value if not then add key value pair

In [75]:
my_details

{'id': 200,
 'name': 'Justin',
 'sal': 50000,
 'city': 'pune',
 'ince': 75000,
 'a': 1,
 'b': 2,
 'c': 3}

In [79]:
my_details.setdefault('z',500)

500

In [80]:
my_details

{'id': 200,
 'name': 'Justin',
 'sal': 50000,
 'city': 'pune',
 'ince': 75000,
 'a': 1,
 'b': 2,
 'c': 3,
 <function id(obj, /)>: 500,
 'z': 500}

In [81]:
d = {'id': 200,
 'name': 'Justin',
 'sal': 50000,
 'city': 'pune',
 'ince': 75000,}

In [82]:
d

{'id': 200, 'name': 'Justin', 'sal': 50000, 'city': 'pune', 'ince': 75000}

In [83]:
d.setdefault('name','Rahul')

'Justin'

In [84]:
d

{'id': 200, 'name': 'Justin', 'sal': 50000, 'city': 'pune', 'ince': 75000}

In [85]:
d.setdefault('loc','Mumbai')

'Mumbai'

In [86]:
d

{'id': 200,
 'name': 'Justin',
 'sal': 50000,
 'city': 'pune',
 'ince': 75000,
 'loc': 'Mumbai'}

In [87]:
# how to remove items from dict

In [89]:
my_details.pop('name')

'Justin'

In [90]:
my_details

{'id': 200,
 'sal': 50000,
 'city': 'pune',
 'ince': 75000,
 'a': 1,
 'b': 2,
 'c': 3,
 <function id(obj, /)>: 500,
 'z': 500}

In [93]:
my_details.pop('b')

2

In [95]:
my_details.pop('sal')

50000

In [96]:
my_details

{'id': 200,
 'city': 'pune',
 'ince': 75000,
 'a': 1,
 'c': 3,
 <function id(obj, /)>: 500,
 'z': 500}

In [97]:
my_dict

{'id': [101, 102, 103],
 'name': ['a', 'b', nan],
 'city': ['pune', 'bang', 'chennai']}

In [99]:
my_dict['id'].remove(102)

In [100]:
my_dict

{'id': [101, 103],
 'name': ['a', 'b', nan],
 'city': ['pune', 'bang', 'chennai']}

In [102]:
my_details.pop('id')

200

In [103]:
my_details

{'city': 'pune',
 'ince': 75000,
 'a': 1,
 'c': 3,
 <function id(obj, /)>: 500,
 'z': 500}

In [108]:
my_details.popitem()

('a', 1)

In [109]:
my_details

{'city': 'pune', 'ince': 75000}

In [110]:
my_details.popitem()

('ince', 75000)

In [112]:
my_dict.popitem()

('city', ['pune', 'bang', 'chennai'])

In [114]:
my_dict

{'id': [101, 103], 'name': ['a', 'b', nan]}

In [115]:
my_dict.pop('id')

[101, 103]

In [117]:
d = {'id': [101, 103],
 'name': ['a', 'b',' nan'],
 'city': ['pune', 'bang', 'chennai']}

In [118]:
d

{'id': [101, 103],
 'name': ['a', 'b', ' nan'],
 'city': ['pune', 'bang', 'chennai']}

In [120]:
d['city'].insert(2,'fsfs')

In [121]:
d

{'id': [101, 103],
 'name': ['a', 'b', ' nan'],
 'city': ['pune', 'bang', 'fsfs', 'chennai']}

In [122]:
d

{'id': [101, 103],
 'name': ['a', 'b', ' nan'],
 'city': ['pune', 'bang', 'fsfs', 'chennai']}

In [123]:
d.clear()

In [124]:
d

{}

In [125]:
del d

In [126]:
d

NameError: name 'd' is not defined

In [127]:
p = [1,2,3]

In [128]:
p

[1, 2, 3]

In [129]:
del p

In [130]:
p

NameError: name 'p' is not defined

In [1]:
d = {'id': 200,
 'city': 'pune',
 'ince': 75000,
 'a': 1,
 'c': 3,}

In [2]:
d

{'id': 200, 'city': 'pune', 'ince': 75000, 'a': 1, 'c': 3}

In [3]:
d['test'] = 5000

In [4]:
d

{'id': 200, 'city': 'pune', 'ince': 75000, 'a': 1, 'c': 3, 'test': 5000}

In [5]:
d['city'] = 'mumbai'

In [6]:
d

{'id': 200, 'city': 'mumbai', 'ince': 75000, 'a': 1, 'c': 3, 'test': 5000}

In [7]:
d.pop('id')

200

In [8]:
d

{'city': 'mumbai', 'ince': 75000, 'a': 1, 'c': 3, 'test': 5000}

In [1]:
a = {1:'shubham',
    2:"rakesh",
    3:"sagar",
    4:"prakash"}

In [2]:
a

{1: 'shubham', 2: 'rakesh', 3: 'sagar', 4: 'prakash'}

In [3]:
a[5]="nitin"

In [4]:
a

{1: 'shubham', 2: 'rakesh', 3: 'sagar', 4: 'prakash', 5: 'nitin'}

In [1]:
A = (1,2,3)

In [2]:
b = dict.fromkeys(A,0)

In [3]:
b

{1: 0, 2: 0, 3: 0}