In [ ]:
# dictionary
#     it is collection of items i.e. key : value (pair)
#     it is unordered data structure .
#     it is mutable  .
#     key always be immutable and unique . 
#     but value may be mutable or immutable .

In [4]:
d ={1:'shubham',
    2:'dhiraj',
    3:'omkar',
    4:'abhishekh',
    5:'shubham',
    6:'shreejith'}

In [5]:
d

{1: 'shubham',
 2: 'dhiraj',
 3: 'omkar',
 4: 'abhishekh',
 5: 'shubham',
 6: 'shreejith'}

In [6]:
d

{1: 'shubham',
 2: 'dhiraj',
 3: 'omkar',
 4: 'abhishekh',
 5: 'shubham',
 6: 'shreejith'}

In [7]:
d[1]

'shubham'

In [8]:
d[2]

'dhiraj'

In [9]:
d.get(1)

'shubham'

In [10]:
d[7]...................it will throws error cause of invalid key name

SyntaxError: invalid syntax (Temp/ipykernel_11932/3522247353.py, line 1)

In [11]:
d.get(7,'no record found for this key')..................we can give default value for any key if not present in the list else it will display value

SyntaxError: invalid syntax (Temp/ipykernel_11932/44792060.py, line 1)

In [12]:
d.get(4)

'abhishekh'

In [13]:
d.values()

dict_values(['shubham', 'dhiraj', 'omkar', 'abhishekh', 'shubham', 'shreejith'])

In [14]:
d.keys()

dict_keys([1, 2, 3, 4, 5, 6])

In [15]:
d.items()

dict_items([(1, 'shubham'), (2, 'dhiraj'), (3, 'omkar'), (4, 'abhishekh'), (5, 'shubham'), (6, 'shreejith')])

In [16]:
# insertion

In [17]:
d[7]='paras'

In [18]:
d

{1: 'shubham',
 2: 'dhiraj',
 3: 'omkar',
 4: 'abhishekh',
 5: 'shubham',
 6: 'shreejith',
 7: 'paras'}

In [19]:
d[8] = 'sangram'

In [20]:
d

{1: 'shubham',
 2: 'dhiraj',
 3: 'omkar',
 4: 'abhishekh',
 5: 'shubham',
 6: 'shreejith',
 7: 'paras',
 8: 'sangram'}

In [21]:
d[9] = 'sagar'

In [22]:
d

{1: 'shubham',
 2: 'dhiraj',
 3: 'omkar',
 4: 'abhishekh',
 5: 'shubham',
 6: 'shreejith',
 7: 'paras',
 8: 'sangram',
 9: 'sagar'}

In [23]:
d.update({10:'mmmm',11:'ssss'})

In [24]:
d

{1: 'shubham',
 2: 'dhiraj',
 3: 'omkar',
 4: 'abhishekh',
 5: 'shubham',
 6: 'shreejith',
 7: 'paras',
 8: 'sangram',
 9: 'sagar',
 10: 'mmmm',
 11: 'ssss'}

In [25]:
dic = {'emp_id' : [101,102,103,104],
      'emp_name' : ['shubham','sagar','prashant','omkar'],
      'emp_addr' : ['shirwal','bhor','pune','saswad']}

In [26]:
dic

{'emp_id': [101, 102, 103, 104],
 'emp_name': ['shubham', 'sagar', 'prashant', 'omkar'],
 'emp_addr': ['shirwal', 'bhor', 'pune', 'saswad']}

In [27]:
import pandas as pd

In [29]:
pd.DataFrame(dic)

   emp_id  emp_name emp_addr
0     101   shubham  shirwal
1     102     sagar     bhor
2     103  prashant     pune
3     104     omkar   saswad

In [31]:
pd.DataFrame(d)

ValueError: If using all scalar values, you must pass an index

In [32]:
d

{1: 'shubham',
 2: 'dhiraj',
 3: 'omkar',
 4: 'abhishekh',
 5: 'shubham',
 6: 'shreejith',
 7: 'paras',
 8: 'sangram',
 9: 'sagar',
 10: 'mmmm',
 11: 'ssss'}

In [33]:
pd.DataFrame(d)

ValueError: If using all scalar values, you must pass an index

In [34]:
p = {1:['shubham'],
     2:['sagar'],
     3:['prashant']}

In [35]:
p

{1: ['shubham'], 2: ['sagar'], 3: ['prashant']}

In [36]:
pd.DataFrame(p)

         1      2         3
0  shubham  sagar  prashant

In [ ]:
##### fromkeys 
# when we want to create blank dictionary we use fromkeys

In [37]:
k = (1,2,3)

In [39]:
m = dict.fromkeys(k,0)

In [40]:
m

{1: 0, 2: 0, 3: 0}

In [41]:
d

{1: 'shubham',
 2: 'dhiraj',
 3: 'omkar',
 4: 'abhishekh',
 5: 'shubham',
 6: 'shreejith',
 7: 'paras',
 8: 'sangram',
 9: 'sagar',
 10: 'mmmm',
 11: 'ssss'}

In [43]:
d.setdefault(1,'naina')

'shubham'

In [44]:
d.setdefault(11,'ssssss')

'ssss'

In [45]:
d.setdefault(12,'fff')

'fff'

In [46]:
d

{1: 'shubham',
 2: 'dhiraj',
 3: 'omkar',
 4: 'abhishekh',
 5: 'shubham',
 6: 'shreejith',
 7: 'paras',
 8: 'sangram',
 9: 'sagar',
 10: 'mmmm',
 11: 'ssss',
 12: 'fff'}

In [18]:
d = {1:'shubham',2:'pawar',3:'mohan',4:'naresh',5:'shramesh',6:'shramesh',7:['sahar','prashant','neelam']}

In [19]:
d

{1: 'shubham',
 2: 'pawar',
 3: 'mohan',
 4: 'naresh',
 5: 'shramesh',
 6: 'shramesh',
 7: ['sahar', 'prashant', 'neelam']}

In [20]:
type(d)

dict

In [28]:
d[8]='nikesh'

In [29]:
d

{1: 'shubham',
 2: 'pawar',
 3: 'mohan',
 4: 'naresh',
 5: 'shramesh',
 6: 'shramesh',
 7: ['sahar', 'prashant', 'neelam'],
 21: 'ddfdf',
 8: 'nikesh'}

In [30]:
d[21] = 'ddfdf'

In [31]:
d

{1: 'shubham',
 2: 'pawar',
 3: 'mohan',
 4: 'naresh',
 5: 'shramesh',
 6: 'shramesh',
 7: ['sahar', 'prashant', 'neelam'],
 21: 'ddfdf',
 8: 'nikesh'}

In [38]:
d.update({11:'hhgh',23:'hghhh',45:'hjtju'})

In [40]:
d.pop(11)

'hhgh'

In [41]:
d

{1: 'shubham',
 2: 'pawar',
 3: 'mohan',
 4: 'naresh',
 5: 'shramesh',
 6: 'shramesh',
 7: ['sahar', 'prashant', 'neelam'],
 21: 'ddfdf',
 8: 'nikesh',
 23: 'hghhh',
 45: 'hjtju'}

In [42]:
d.popitem()

(45, 'hjtju')

In [43]:
d

{1: 'shubham',
 2: 'pawar',
 3: 'mohan',
 4: 'naresh',
 5: 'shramesh',
 6: 'shramesh',
 7: ['sahar', 'prashant', 'neelam'],
 21: 'ddfdf',
 8: 'nikesh',
 23: 'hghhh'}

In [44]:
d

{1: 'shubham',
 2: 'pawar',
 3: 'mohan',
 4: 'naresh',
 5: 'shramesh',
 6: 'shramesh',
 7: ['sahar', 'prashant', 'neelam'],
 21: 'ddfdf',
 8: 'nikesh',
 23: 'hghhh'}

In [45]:
d.items()

dict_items([(1, 'shubham'), (2, 'pawar'), (3, 'mohan'), (4, 'naresh'), (5, 'shramesh'), (6, 'shramesh'), (7, ['sahar', 'prashant', 'neelam']), (21, 'ddfdf'), (8, 'nikesh'), (23, 'hghhh')])

In [46]:
d.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 21, 8, 23])

In [47]:
d.values()

dict_values(['shubham', 'pawar', 'mohan', 'naresh', 'shramesh', 'shramesh', ['sahar', 'prashant', 'neelam'], 'ddfdf', 'nikesh', 'hghhh'])

In [1]:
d = {1:['a','b','c','d'],
    2:['e','f','g','h'],
    3:["i",'j','k','l']}

In [2]:
d

{1: ['a', 'b', 'c', 'd'], 2: ['e', 'f', 'g', 'h'], 3: ['i', 'j', 'k', 'l']}

In [3]:
import pandas as pd

In [4]:
pd.DataFrame(d)

   1  2  3
0  a  e  i
1  b  f  j
2  c  g  k
3  d  h  l

In [6]:
m = (1,2,3)

In [8]:
m = dict.fromkeys(m,0)

In [9]:
m

{1: 0, 2: 0, 3: 0}

In [10]:
m['name'] = "sagar"

In [11]:
m

{1: 0, 2: 0, 3: 0, 'name': 'sagar'}

In [14]:
m.get('name','no found')

'sagar'

In [15]:
m.setdefault(1,"no")

0

In [16]:
m.setdefault('name',"no")

'sagar'

In [18]:
m.setdefault("age",24)

24

In [19]:
m

{1: 0, 2: 0, 3: 0, 'name': 'sagar', 'age': 24}

In [20]:
m.update({5:'dffd',6:'fve'})

In [22]:
m

{1: 0, 2: 0, 3: 0, 'name': 'sagar', 'age': 24, 5: 'dffd', 6: 'fve'}