In [ ]:
def functionname(arguments/parameters): # formal arguments
    block of statement
    return values

In [87]:
def a():
    print("in a")
def b():
    print("in b")
def c():
    print("in c")

In [89]:
def d():
    print("in d")

In [90]:
d()

in d

In [91]:
a()

in a

In [92]:
b()

in b

In [93]:
c()

in c

In [ ]:
functionname(arguemnts/parametes) # actual arguments

In [96]:
h = 6000

In [97]:
h

6000

In [1]:
def add():
    x = 10
    y = 20
    z = x+y
    print(z)

In [2]:
add()

30

In [5]:
def add():

    x = int(input("Enter the number:"))
    y = int(input("enter the number:"))
    z = x+y
    print(z)

In [6]:
add()

Enter the number:56
enter the number:45
101

In [17]:
def add(x,y,p):
    z = x+y+p
    return z,

In [15]:
add(59,87,30)

176

In [21]:
print("welcome to addition programm")
x = int(input("Enter the number:"))
y = int(input("enter the number:"))
p = int(input("enter the number:"))
result = add(x,y,p)
if result > 50:
    print("if")
else:
    print("else")

welcome to addition programm
Enter the number:1
enter the number:2
enter the number:3
else

In [25]:
def add(x,y,p):
    z = x+y+p
    return z,x,y,p

In [26]:
d = add(10,20,30)

In [27]:
d

(60, 10, 20, 30)

In [28]:
x

1

In [30]:
def add(f,h):
    l = f+h
    return l

In [31]:
k = add(50,45)

In [32]:
k

95

In [33]:
f

NameError: name 'f' is not defined

In [34]:
l

NameError: name 'l' is not defined

In [ ]:
no arg no return type
def add():
    x=10
    y = 20
    z = x+y

In [ ]:
no arg with return value
def add():
    x=10
    y = 20
    return x+y

In [ ]:
arg with no return type
def add(x,y):
    print(x+y)

In [ ]:
arg with return value/ype
def add(x,y):
    return x+y

In [ ]:
#type of arguements
1.positional arguements
2.defualt arguements
3.variable length arguements(*args) ---> tuple
4.keyword arguements
5.variable length keyword arguements(**kwargs) ---> dict

In [35]:
#1.Positional arguements

In [47]:
def car_details(car_name,car_price,car_color,no_of_wheel=4):
    print("Car Name:",car_name)
    print("Car Price:",car_price)
    print("Car Color:",car_color)
    print("No of Wheel:",no_of_wheel)

In [64]:
car_details('BMW',45,'red',5)

Car Name: BMW
Car Price: 45
Car Color: red
No of Wheel: 5

In [42]:
car_details()

TypeError: car_details() missing 1 required positional argument: 'no_of_wheel'

In [56]:
def Personal_details(id,name,city,aadhar='No Data Avilable'):
    print(id)
    print(name)
    print(city)
    print(aadhar)

In [58]:
Personal_details(101,'Jon','Pune',54964949)

101
Jon
Pune
54964949

In [59]:
def add(a=0,b=0,c=0):
    print(a+b+c)

In [66]:
add(10,20,30)

60

In [75]:
def add(*temp):
    t = 0
    for  i in temp:
        t = t+i
    print(f"Addition of given num is :{t}")

In [76]:
add(45,60)

Addition of given num is :105

In [77]:
add(90,60,3)

Addition of given num is :153

In [ ]:
#variable length arguments --> tuple

In [78]:
add(1,56,90,36,78,56,23,45,20,30,60,90,70)

Addition of given num is :655

In [79]:
def car_details(car_name,car_price,car_color,no_of_wheel):
    print("Car Name:",car_name)
    print("Car Price:",car_price)
    print("Car Color:",car_color)
    print("No of Wheel:",no_of_wheel)

In [80]:
car_details(no_of_wheel=5,car_color='yellow',car_name ='BMW',car_price=4664646456)

Car Name: BMW
Car Price: 4664646456
Car Color: yellow
No of Wheel: 5

In [81]:
def personal_details(**kwargs):
    print(kwargs)

In [84]:
personal_details(name='Justin',age=45,designation='SE')

{'name': 'Justin', 'age': 45, 'designation': 'SE'}

In [86]:
##   *args vs **kwargs

In [ ]:
#types variable
1.local variable
2.global variable

In [4]:
def add():
    x = 10
    y = 20
    z = x+y
    print(z)

In [5]:
add()

30

In [6]:
def add1(x,y):
    z = x+y
    print(z)

In [8]:
add1(20,56)

76

In [10]:
def add2():
    x = int(input("enter the number:"))
    y = int(input("enter the number:"))
    z = x+y
    print(f"addition of {x} and {y} is {z}")

In [11]:
add2()

enter the number:33
enter the number:24
addition of 33 and 24 is 57

In [ ]:
# positional argument
# default argument
# variable length argument
# keyword argument
# variable length keyword arguments

In [ ]:
# positional arguments :

In [14]:
def pyt(name , emp_id , salary , addr):
    print(name , emp_id , salary , addr)

In [18]:
pyt('shubham',101,20000,'pune')

shubham 101 20000 pune

In [ ]:
#default arguments

In [20]:
def pyth(name,emp_id,salary,adhar_no = 'not having aadhar'):
    print(name)
    print(emp_id)
    print(adhar_no)
    print(salary)

In [21]:
pyth('shubham',101,200000)

shubham
101
not having aadhar
200000

In [ ]:
# variable length argument :

In [23]:
def new(*args):
    print(*args)

In [24]:
new(10,20,30,20)

10 20 30 20

In [3]:
def argadd(*args):
    t = 0
    for i in args:
        t = t+i
    print(f" addition of numbers is {t}")

In [4]:
argadd(20,40,50,30)

 addition of numbers is 140

In [2]:
def adds():
    x = 20
    y = 30
    z = x+y
    return z

In [3]:
adds()

50

In [19]:

def addd():
    x = int(input("enter the number for x :"))
    y = int(input("enter the number for y :"))
    z = x+y
    print(f"answer of the equation is :{z}" )

In [20]:
addd()

enter the number for x :33
enter the number for y :44
answer of the equation is :77

In [21]:
def sum(x,y):
    z = x+y
    print(z)

In [22]:
sum(20,50)

70

In [3]:
x = 500
def temp():
    x = 100
    print(x)

In [4]:
x

500

In [5]:
temp()

100

In [6]:
x = 500
def temp():
    global x
    x = 100
    print(x)

In [7]:
temp()

100

In [8]:
x

100

In [9]:
(lambda x,y:x+y)(10,30)

40

In [3]:
def add(*arg):
        t = 0
        for i in arg:
            t = t+i
        print(f"adition of numbers is {t}")

In [4]:
add(10,30,50,60)

adition of numbers is 150

In [4]:
def add(x,y):
    x
    y
    z = x+y
    print(z)

In [5]:
add(20,10)

30

In [9]:
def add(x = 10,y = 20):
    print(x)
    print(y)
    z = x+y
    print(f"addition of {x} and {y} is {z}")

In [10]:
add()

10
20
addition of 10 and 20 is 30

In [20]:
def add(*arg):
    t = 0
    for i in arg:
        t = t+i
    print(t)

In [21]:
add(10,20)

30

In [2]:
def add(a,b,c):
    z = a+b+c
    return z

In [7]:
def add(*temp):
    t = 0
    for i in temp:
        t = t+i
    print(f"addition od given no. is {t}")

In [8]:
add(20,40,50)

addition od given no. is 110

In [3]:
def add(x ,y):
    print(x)
    print(y)
    z = x+y
    return (f"addition of {x} and {y} is :{z}")

In [4]:
add(20,10)

20
10

'addition of 20 and 10 is :30'

In [10]:
### positional arguments

def car_details(car_company,car_color,car_price,car_seat_capacity):
    print("Car Company :",car_company)
    print("Car color :",car_color)    
    print("Car price :" ,car_price)
    print("Car capacity :" ,car_seat_capacity)

In [14]:
car_details("ford","black",700000,5)

Car Company : ford
Car color : black
Car price : 700000
Car capacity : 5

In [ ]:
#### default arguments

In [15]:
def fruit(fruit_name,fruit_colour,fruit_type = "edible"):
    print("fruit name :" , fruit_name)
    print("fruit color :" , fruit_colour)    
    print("fruit type :" , fruit_type)

In [16]:
fruit("orange","orange")

fruit name : orange
fruit color : orange
fruit type : edible

In [ ]:
#### keyword argument

In [17]:
def fruit_1(fruit_name,fruit_colour,fruit_taste, fruit_qulity,fruit_type = "edible"):
    print("fruit name :" , fruit_name)
    print("fruit color :" , fruit_colour)    
    print("fruit taste :" , fruit_taste)
    print("fruit quality :" , fruit_qulity)
    print("fruit type :" , fruit_type)

In [18]:
fruit_1(fruit_qulity="good",fruit_taste="sweet and tangy",fruit_name = "orange",fruit_colour = "orange")

fruit name : orange
fruit color : orange
fruit taste : sweet and tangy
fruit quality : good
fruit type : edible

In [ ]:
####variable length argument

In [19]:
def add(*arg):
    print(arg)

In [20]:
add(10,30,50)

(10, 30, 50)

In [21]:
def sum(**kwargs):
    print(kwargs)

In [23]:
sum(one ="one_1",two ="two_2")

{'one': 'one_1', 'two': 'two_2'}

In [1]:
p = [0,3,4,54,2,4]

In [3]:
lambda

In [6]:
l

(<function __main__.<lambda>(x)>, [0, 3, 4, 54, 2, 4])

In [2]:
def add():
    a = 20
    b = 30
    z = a+b
    return z

In [4]:
add()

50

In [6]:
def new(a,b):
    a = a
    b = b
    z = a+b
    return z

In [8]:
new(40,50)

90

In [14]:
def new_add(*temp):
    t = 0
    for i in temp:
        t = t+i
    print(f"sum of all is {t}")

In [16]:
new_add(10,30,50,60)

sum of all is 150

In [ ]:
def add(*temp):
    t = 0
    for i in temp:
        t = t+i
    print(f"addition od given no. is {t}")

In [ ]:
types of arg..
positional arg
default arg
variable legth arg
keyword arg
variable length keyword arg

In [22]:
###positional argument is in which position is very important if you input wrong parameter for wrong argument then it will display wrong .

def add(name,roll,education,gender):
    print(f"name of the student is {name}")
    print(f"roll_no of the student is {roll}")
    print(f"education of the student is {education}")
    print(f"gender of the student is {gender}")

In [24]:
add("shubham",21,"bca","male")

name of the student is shubham
roll_no of the student is 21
education of the student is bca
gender of the student is male

In [28]:
###default argument 

def add_new(name,roll,gender ,education ="mca"):
    
    print(f"name of the student is {name}")
    print(f"roll_no of the student is {roll}")
    print(f"education of the student is {education}")
    print(f"gender of the student is {gender}")

In [30]:
add_new("shubham",23,"male")

name of the student is shubham
roll_no of the student is 23
education of the student is mca
gender of the student is male

In [32]:
###variable length argument 

def add_var_len(*args):
    print(args)

In [34]:
add_var_len(1,2,3,4,"shubham","pawar","samir","shinde")

(1, 2, 3, 4, 'shubham', 'pawar', 'samir', 'shinde')

In [36]:
def add(*temp):
    t = 0
    for i in temp:
        t = t+i
    print(f"addition of all is {t}")

In [38]:
add(12,56,43,23)

addition of all is 134

In [53]:
def add_n(name = "no name",education="mca",age=21,address = "pune",adhar_card = "no adhar"):
    print("name :",name)
    print("education :",education)
    print("age :",age)
    print("address :",address)
    print("adhar_card :",adhar_card)

In [56]:
add_n(education = "bca",name="sangram",adhar_card="7573432818128",age=22)

name : sangram
education : bca
age : 22
address : pune
adhar_card : 7573432818128

In [62]:
def vkey(**kwargs):
    print(kwargs)

In [64]:
vkey(name = "rakesh",age = 21)

{'name': 'rakesh', 'age': 21}